@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #333;
  --bg-color: #fff;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */
h1, h2, h3, p {
  padding: 0.5em 0;
}

h1 {
  font-size: 2rem; /* Adjust main title size */
  font-weight: bold;
}

p {
  font-size: 1rem;
}

/* Links */
a {
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* Buttons */
button {
  background-color: transparent;
  border: 2px solid var(--link-color);
  padding: 0.5em 1em;
  border-radius: 0.25em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}